.mainHeader {
  background: var(--main-color-bg);
  border-bottom: 1px solid var(--main-gray-op-dark);
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  min-height: 54px;
  overflow: hidden;
  transition: background-color 400ms ease-in-out;

  .logo {
    font-weight: 700;
    color: var(--main-text);
    background: none;
    text-shadow: 0 0 0 transparent;
    text-align: start;

    &:hover,
    &:focus-visible {
      text-shadow: 0 0 2px var(--white);
    }
  }

  &__btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .themeBtn {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-text);
        background: transparent;
     

        &:hover,
        &:focus-visible {

          svg {
            filter: drop-shadow(0 0 4px var(--main-text));
          }
        }
      }
    }
  }

  .theme-clicked {
    @keyframes rotate-icon {
      from {
        rotate: 0deg;
      }
      to {
        rotate: 360deg;
      }
    }
    animation: rotate-icon 400ms ease-in-out;
  }
}
