/* start modal */
.mainModalWrapper {
  z-index: 9;
  position: fixed;
  inset: 0;
  margin: auto;
  min-width: 240px;
  width: 800px;
  max-width: 90%;
  height: 90%;
  max-height: fit-content;
  outline: none;
  color: rgb(240, 240, 240);
  font-size: 1rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color-mid);
  box-shadow: 0 0 2rem -1rem var(--main-color-dark);
  transition: 200ms ease-in-out, outline 0ms, border 0ms;
  border-radius: var(--main-radius);
  overflow: hidden auto;

  &:has(form.editMode) {
    border: 1px dashed var(--main-color-mid);
  }
  &:has(form.deleteMode) {
    border: 1px dashed var(--red);
  }

  @starting-style {
    scale: 0.9;
    opacity: 0;
  }

  &.is-dragged {
    transition: 0ms;
  }

  &::backdrop {
    background-color: var(--black);
    opacity: 0.5;
    backdrop-filter: blur(1px);
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    max-width: 500px;
  }
}

.mainModal {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
  padding: clamp(0.5rem, 0.5rem + 2vw, 2rem);
  overflow-y: auto;

  button:focus-visible {
    outline-color: var(--white);
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    position: relative;

    h2 {
      text-align: start;
      text-wrap: balance;
      font-size: 2em;
      color: var(--white);
      font-weight: 800;
      position: relative;
      cursor: default;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        left: -105px;
        top: 50%;
        translate: 0 -50%;
        width: 100px;
        height: 8px;
        background-color: var(--main-color-mid);
      }
    }

    div:nth-of-type(1) {
      font-weight: 300;
    }

    .listPickerWrapper {
      &__btnContainer {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        gap: 0.25rem;

        input.listPicker {
          font-size: 12px;
          color: var(--white);
          padding: 0.25rem 0.5rem;
          min-width: 8ch;
          width: fit-content;
          max-width: 25ch;
          field-sizing: content;
          text-align: center;
          outline: none;
          border: 1px solid var(--main-color-op);
          cursor: text;

          &.editMode {
            border: 1px dashed var(--main-color-mid);

            &:hover,
            &:focus {
              border-color: var(--white);
            }
          }

          &.deleteMode {
            border: 1px dashed var(--red);
          }

          &:hover {
            border-color: var(--main-color-mid);
          }
          &:focus {
            border-color: var(--white);
          }

          &.disabled {
            pointer-events: none;
          }
        }

        .listPickerOptions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
        }

        button.listPicker {
          padding: 0.25rem 0.5rem;
          font-size: 12px;
          background: transparent;
          color: var(--white);
          outline: 1px solid transparent;
          outline-offset: -1px;
          color: var(--main-gray);
          cursor: pointer;

          &[disabled] {
            pointer-events: none;
            filter: grayscale(1);
          }

          &.disabled {
            pointer-events: none;

            &:hover,
            &:focus,
            &:focus-visible {
              background-color: var(--main-color-op);
            }
          }

          &.selected {
            outline-color: var(--main-color-op);
          }

          &:hover,
          &:focus-visible,
          &.selected {
            background-color: var(--main-color-op);
            color: var(--white);
          }

          &:focus-visible {
            outline-color: var(--white);
          }
        }

        &.editMode button.listPicker {
          outline: 1px dashed transparent;

          &.selected {
            outline: 1px dashed var(--main-color-mid);
          }
          &:hover,
          &:focus-visible {
            outline: 1px dashed var(--white);
          }
        }

        &.deleteMode button.listPicker {
          outline: 1px dashed var(--red);

          &:hover,
          &:focus-visible {
            outline: 1px dashed var(--red);
          }
        }
      }
    }
  }

  &__data {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;

    &__form {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 0.125rem;
      transition: 200ms ease-in-out;
      position: relative;

      &[disabled] {
        pointer-events: none;
        filter: grayscale(1);
      }

      &[disabled]:has(.aiQuestion, .aiAnswer) {
        pointer-events: auto;
        filter: grayscale(0);

        fieldset:has(.aiPrompt),
        .mainModal__btnContainer {
          pointer-events: none;
          filter: grayscale(1);
        }
      }

      button {
        background: var(--main-color-mid);
        color: var(--white);
        padding: 0.25rem 0.5rem;

        &:hover,
        &:focus-visible {
          background: var(--main-color-light);
          color: var(--main-color-mid);
        }
      }

      .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10%;
        width: 100%;
      }

      fieldset {
        border: 1px solid var(--main-color-op);
        border-radius: var(--main-radius);
        min-width: 150px;
        width: 45%;
        margin-bottom: 1rem;
        transition: 200ms ease-in-out;
        background: var(--main-color-op);
        text-align: start;
        overflow: hidden;

        legend {
          margin: 0 8px;
          padding: 0 4px;
          color: var(--white);
          transition: 200ms ease-in-out;
          font-weight: 600;

          &:has(+ .reply) {
            margin-left: auto;
            color: var(--red);
          }
        }

        &:has(
            input:hover,
            textarea:hover,
            select:hover,
            option:hover,
            label:hover,
            .taskOpenContent:hover
          ) {
          border-color: var(--main-color-mid);
        }

        &:focus-within:not(:has(.aiQuestion, .aiAnswer)) {
          border-color: var(--white) !important;
        }

        &:has(textarea) {
          width: 100%;
        }

        @media (max-width: $tablet-breakpoint) {
          width: 100%;
        }
      }

      input,
      textarea,
      select {
        border: none;
        outline: none;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        color: var(--white);
      }

      input,
      textarea {
        cursor: text;
      }

      select {
        cursor: pointer;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
      }

      &.disabled {
        fieldset {
          border: 1px solid var(--main-color-op);

          &:hover,
          &:focus-visible {
            border: 1px solid var(--main-color-op);
          }
        }
      }

      &.editMode {
        /* input,
        textarea,
        select {
          outline: 1px dashed var(--main-color-mid);
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          color: var(--white);

          &:hover,
          &:focus-visible {
            outline: 1px dashed var(--white);
          }
        } */

        .tdl-priority {
          text-decoration-style: dashed !important;
          outline-style: dashed !important;
        }

        fieldset {
          border: 1px dashed var(--main-color-mid);

          &:focus-within,
          &:has(
              input:hover,
              textarea:hover,
              select:hover,
              option:hover,
              label:hover
            ) {
            border: 1px dashed var(--white);
          }
        }

        .taskReply {
          border-bottom-style: dashed !important;
        }
      }

      &.deleteMode {
        /* input,
        textarea,
        select {
          outline: 1px dashed var(--red);
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        } */

        .tdl-priority {
          text-decoration: underline dashed var(--red) !important;
          outline-style: dashed !important;
        }

        fieldset {
          border: 1px dashed var(--red);

          &:hover,
          &:focus-visible,
          &:focus-within,
          &:has(input:hover, textarea:hover, select:hover, option:hover) {
            border-style: dashed;
            border-color: var(--red);
          }
        }

        .taskReply {
          border-bottom-style: dashed !important;
          border-bottom-color: var(--red) !important;
        }
      }

      &.taskContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        width: 100%;
        max-width: 100%;

        fieldset,
        input,
        select,
        textarea {
          width: 100%;
        }

        fieldset:has(.aiQuestion, .aiAnswer) {
          width: fit-content;
          max-width: 100%;
        }

        fieldset:has(.aiQuestion) {
          margin-right: auto;
        }

        fieldset:has(.aiAnswer) {
          margin-left: auto;
        }

        .taskOptions {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;

          /* @media (max-width: $tablet-breakpoint) {
            flex-direction: column;
            gap: 1rem;
          } */
        }

        /* .replyBtn {
          font-size: 0.8em;
          text-transform: none;
          background: none;
          align-self: start;
          color: var(--red);
          margin-top: -0.5rem;
          padding: 0;

          span:nth-child(1) {
            transition: rotate 200ms ease-in-out;
          }

          &.active {
            span:nth-child(1) {
              rotate: 90deg;
            }
          }
        } */

        .taskOpenData {
          align-self: start;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 2px;

          > div {
            cursor: default;
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 6px;
            font-weight: 300;
            text-transform: capitalize;
            background: transparent;
            outline: 1px solid transparent;
            font-size: 0.9em;
            text-underline-offset: 4px !important;
            text-decoration-thickness: 1px !important;

            &[disabled] {
              cursor: text;
            }

            &.tdl-priority {
              color: var(--main-gray);
              filter: grayscale(0.5);
              transition: 200ms ease-in-out;

              svg {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                color: var(--main-color);
                background-color: var(--main-gray);
                outline: 1px solid var(--main-gray);
                outline-offset: -1px;
                transition: 200ms ease-in-out;
              }

              &.selectedLow > svg {
                color: var(--main-gray-dark);
              }
              &.selectedMedium > svg {
                color: var(--main-color);
              }
              &.selectedHigh > svg {
                color: var(--red);
              }
              &.selected {
                text-decoration: underline;
                color: var(--white);
                filter: grayscale(0);

                svg {
                  background-color: var(--white);
                  outline-color: var(--white);
                }
              }
            }

            &:hover {
              text-decoration: underline;
              color: var(--white);
              filter: grayscale(0);

              svg {
                background-color: var(--white);
                outline-color: var(--white);
              }
            }

            &:focus-visible {
              text-decoration: underline;
              color: var(--white);
              outline: 1px solid var(--white);
            }

            &.selected {
              text-decoration: underline;

              &:focus-visible {
                outline: 1px solid var(--white);
              }
            }
          }
        }

        .taskOpenTitle {
          width: 100%;
          height: 100%;
          min-height: auto;
          max-height: calc(2lh + 1rem); /* 2 lines + padding */
          field-sizing: content;
          text-align: left;
        }

        .taskOpenContent {
          width: 100%;
          height: 100%;
          min-height: calc(2lh + 1rem); /* 2 lines + padding */
          max-height: calc(4lh + 1rem); /* 4 lines + padding */
          padding: 0.5rem 1rem;
          text-align: left;
          overflow-y: auto;
          field-sizing: content;

          pre {
            position: relative;

            /* SyntaxHighlighter */
            & > div {
              border: 1px solid var(--main-color-op-dark);
              border-radius: 0.5rem;
              padding: 0.5rem !important;
              background: var(--main-color) !important;

              * {
                background: var(--main-color) !important;
              }
            }

            /* if SyntaxHighlighter is not used */
            &:not(&:has(> div)) {
              /* white-space: pre-wrap;
              overflow: hidden auto;
              overflow-wrap: break-word; */
              background: var(--main-color-op-dark);
              border-radius: 0.5rem;
              padding: 0.5rem;
              width: fit-content;
            }

            /* copy to clipboard */
            .copyClipboardBtn {
              position: absolute;
              top: 0.25rem;
              right: 0.25rem;
              background: none;
              padding: 0;
              border-radius: 0.5rem;
              aspect-ratio: 1;
              width: 34px;
              opacity: 0;

              &:hover,
              &:focus-visible {
                color: var(--white);
                background: var(--main-color-op);
              }

              &:active {
                scale: 0.9;
              }
            }

            &:hover,
            &:focus,
            &:focus-visible {
              .copyClipboardBtn {
                opacity: 1;
              }
            }
          }

          code {
            color: rgb(171, 178, 191);
          }

          table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 0.5rem;
            overflow: hidden;

            th,
            td {
              padding: 0.5rem 1rem;
              text-align: left;
              vertical-align: middle;
            }

            th {
              color: var(--white);
              font-weight: 700;
              border-bottom: 1px solid var(--main-color-mid);
            }

            td {
              color: var(--white);
              border-bottom: 1px solid var(--main-color-mid);
            }

            tr:last-child td {
              border-bottom: none;
            }

            th:first-child,
            td:first-child {
              border-top-left-radius: 0.5rem;
            }
            th:last-child,
            td:last-child {
              border-top-right-radius: 0.5rem;
            }
          }

          ul,
          ol {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
            gap: 0.25rem;
            padding-left: 2rem;
            padding-left: 3ch;
          }

          ul {
            list-style-type: disc;
          }

          ul,
          ol,
          hr,
          p,
          pre,
          table {
            margin-block: 0.5rem;
          }

          ul:first-child,
          ol:first-child,
          hr:first-child,
          p:first-child,
          pre:first-child,
          table:first-child {
            margin-top: 0;
          }

          ul:last-child,
          ol:last-child,
          hr:last-child,
          p:last-child,
          pre:last-child,
          table:last-child {
            margin-bottom: 0;
          }

          &.reply {
            text-align: right;
          }

          &.aiPrompt,
          &.aiQuestion {
            min-height: auto;
          }

          &.aiAnswer {
            min-height: auto;
            max-height: 100%;
          }

          &.aiPrompt,
          &.aiQuestion,
          &.aiAnswer {
            padding: 0.5rem 1rem;
            text-align: left;
          }
        }

        .taskReply {
          display: inline-block;
          text-align: start;
          border-bottom: 1px solid var(--main-gray-darker-op);
          width: 100%;
          gap: 0.25rem;
          color: var(--white);
          font-weight: 600;
          padding-inline: 0.5rem;

          textarea {
            padding: 0;
            border-radius: 0;
            color: inherit;
            font-weight: inherit;

            &::placeholder {
              font-weight: 300;
            }
          }
        }
      }

      /* profile modal */
      &.profile {
        .form-group {
          flex-direction: column;

          fieldset {
            width: 100%;
            max-width: 300px;
          }

          .profilePicWrapper {
            margin-bottom: 1rem;

            img {
              width: 80px;
              aspect-ratio: 1;
              border-radius: 50%;
              border: 4px solid var(--main-color-op);
            }
          }
        }
      }
    }
  }

  &__btnContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__close {
    align-self: end;
    background-color: var(--main-color-op);
    color: var(--white);

    svg {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--main-color-op-light);
    }
  }

  &__error {
    position: absolute;
    bottom: -2rem;
    left: 0.5rem;
    color: var(--red);
    font-weight: 400;
    transition: 200ms ease-in-out;

    &::first-letter {
      text-transform: capitalize;
    }

    @starting-style {
      opacity: 0;
    }
  }
}
/* end modal */
