/* start modal */
.mainModalWrapper {
  z-index: 9;
  position: fixed;
  margin: auto;
  width: fit-content;
  min-width: 300px;
  height: fit-content;
  outline: none;
  color: rgb(240, 240, 240);
  font-size: 1rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color-mid);
  box-shadow: 0 0 2rem -1rem var(--main-color-dark);
  transition: 200ms ease-in-out, outline 0ms, border 0ms;

  &:has(form.editMode) {
    border: 1px dashed var(--main-color-mid);
  }
  &:has(form.deleteMode) {
    border: 1px dashed var(--red);
  }

  @starting-style {
    scale: 0;
    opacity: 0;
  }

  &.is-dragged {
    transition: 0ms;
  }

  &::backdrop {
    background-color: var(--black);
    opacity: 0.5;
  }

  @media (max-width: $tablet-breakpoint) {
    min-height: 80%;
  }
}

.mainModal {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
  padding: clamp(0.5rem, 0.5rem + 2vw, 2rem);

  h2 {
    text-align: start;
    text-wrap: balance;
    font-size: 2em;
    color: var(--white);
    width: 100%;
    font-weight: 800;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -105px;
      top: 50%;
      translate: 0 -50%;
      width: 100px;
      height: 8px;
      background-color: var(--main-color-mid);
    }
  }

  button:focus-visible {
    outline-color: var(--white);
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    position: relative;

    .listPickerWrapper {
      &__btnContainer {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        gap: 0.25rem;

        .listPickerOptions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
        }

        button.listPicker {
          padding: 0.25rem;
          font-size: 12px;
          background-color: var(--main-color-mid);
          height: 25px;
          width: 68px;
          color: var(--white);

          &[disabled] {
            pointer-events: none;
            filter: grayscale(1);
          }

          &.disabled {
            &:hover,
            &:focus,
            &:focus-visible {
              background-color: var(--main-color-mid);
            }
          }

          &:hover,
          &:focus-visible,
          &.selected {
            background-color: var(--main-color-op);
          }
        }

        &.editMode button.listPicker {
          outline: 1px dashed var(--main-color-mid);

          &:hover,
          &:focus-visible,
          &.selected {
            outline: 1px dashed var(--white);
          }
        }
        &.deleteMode button.listPicker {
          outline: 1px dashed var(--red);

          &:hover,
          &:focus-visible {
            outline: 1px dashed var(--red);
          }
        }
      }
    }
  }

  &__data {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;

    &__form {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: fit-content;
      gap: 0.125rem;

      &[disabled] {
        pointer-events: none;
        filter: grayscale(1);
      }

      button {
        background: var(--main-color-mid);
        color: var(--white);
        padding: 0.25rem 0.5rem;

        &:hover,
        &:focus-visible {
          background: var(--main-color-light);
          color: var(--main-color-mid);
        }
      }

      .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10%;
        width: 100%;
      }

      fieldset {
        border: 1px solid var(--main-color-op);
        min-width: 150px;
        width: 45%;
        margin-bottom: 1rem;
        transition: 200ms ease-in-out;
        background: var(--main-color-op);
        text-align: start;

        legend {
          margin: 0 8px;
          padding: 0 4px;
          color: var(--white);
          transition: 200ms ease-in-out;
          font-weight: 600;
        }

        &:has(
            input:hover,
            textarea:hover,
            select:hover,
            option:hover,
            .taskOpenContent:hover
          ) {
          border-color: var(--main-color-mid);

          legend {
            color: var(--white);
          }
        }

        &:focus-within {
          border-color: var(--white) !important;

          legend {
            color: var(--white);
          }
        }

        &:has(textarea, .taskOpenContent) {
          width: 100%;
        }

        @media (max-width: $tablet-breakpoint) {
          width: 100%;
        }
      }

      input,
      textarea,
      select {
        border: none;
        outline: none;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        color: var(--white);
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
      }

      &.disabled {
        fieldset {
          border: 1px solid var(--main-color-op);

          &:hover,
          &:focus-visible {
            border: 1px solid var(--main-color-op);
          }
        }
      }

      &.editMode {
        input,
        textarea,
        select {
          outline: 1px dashed var(--main-color-mid);
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          color: var(--white);

          &:hover,
          &:focus-visible {
            outline: 1px dashed var(--white);
          }
        }

        .tdl-priority {
          outline: 1px dashed var(--main-color-mid) !important;

          &:hover,
          &:focus-visible {
            outline: 1px dashed var(--white) !important;
          }
        }

        fieldset {
          border: 1px dashed var(--main-color-mid);

          &:focus-within,
          &:has(
              input:hover,
              textarea:hover,
              select:hover,
              option:hover,
              .taskOpenContent:hover
            ) {
            border: 1px dashed var(--white);
          }
        }
      }

      &.deleteMode {
        input,
        textarea,
        select {
          outline: 1px dashed var(--red);
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }

        .tdl-priority {
          outline: 1px dashed var(--red) !important;
        }

        fieldset {
          border: 1px dashed var(--red);

          &:hover,
          &:focus-visible,
          &:focus-within,
          &:has(
              input:hover,
              textarea:hover,
              select:hover,
              option:hover,
              .taskOpenContent:hover
            ) {
            border-style: dashed;
            border-color: var(--red);
          }
        }
      }

      &.taskContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;

        .taskOpenData {
          align-self: start;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 1rem;
          font-weight: 600;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            font-weight: 300;
            text-transform: capitalize;
            background-color: var(--main-color-mid);
            outline: 1px solid transparent;
            outline-offset: -1px;

            &.tdl-priority {
              color: var(--white);

              &.selectedLow > svg {
                color: var(--main-gray-dark);
              }
              &.selectedMedium > svg {
                color: var(--main-color-light);
              }
              &.selectedHigh > svg {
                color: var(--red);
              }
              &.selected {
                outline: 1px solid var(--main-color-op);
              }
              &:hover {
                outline-color: var(--main-color-mid);
              }

              svg {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: var(--main-color);
                outline: 2px solid var(--main-gray);
                outline-offset: -1px;
              }
            }

            &:hover {
              background-color: var(--main-color-op);

              &[disabled] {
                background-color: var(--main-color-op);
                outline-color: var(--main-color-op);
              }
            }

            &:focus-visible {
              background-color: var(--main-color-op);
              outline: 1px solid var(--white);
              outline-color: var(--white) !important;
            }

            &.selected {
              background-color: var(--main-color-op);
            }
          }
        }

        .taskOpenContent {
          display: inline-block;
          color: var(--white);
          font-weight: 300;
          padding: 0.5rem 1rem;
          word-break: break-word;
          overflow-x: hidden;
          overflow-y: scroll;
          white-space: pre-wrap;
          width: clamp(300px, 40vw, 600px);
          height: auto;
          min-height: 120px;
          max-height: 240px;
          cursor: text;

          &:focus-visible {
            outline: none;
          }

          &:empty::before {
            content: "Required";
            font-style: italic;
            color: var(--main-gray);
          }
        }
      }

      /* profile modal */
      &.profile {
        .form-group {
          flex-direction: column;

          fieldset {
            width: 100%;
          }

          .profilePicWrapper {
            margin-bottom: 1rem;

            img {
              width: 80px;
              aspect-ratio: 1;
              border-radius: 50%;
              border: 4px solid var(--main-color-op);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__btnContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__close {
    align-self: end;
    background-color: var(--main-color-op);
  }
}
/* end modal */
