.site-section {
  flex: 1;
  padding: clamp(0.5rem, 0.5rem + 3vw, 3rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  text-align: center;
  text-wrap: balance;
  gap: 1rem;
  position: relative;
  overflow: auto;

  @media (max-width: $tablet-breakpoint) {
    flex-flow: column nowrap;
    justify-content: start;
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &:has(.site-section__homeCard) {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 240px 240px;
    place-content: center;
    place-items: center;
    gap: clamp(1rem, 1rem + 4vw, 4rem);
    overflow-y: visible;

    @media (max-width: $tablet-breakpoint) {
      grid-template-columns: 240px;
    }

    @media (max-width: $tablet-breakpoint) and (max-height: 699px) {
      align-content: start;
    }
  }

  .btnWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    button {
      color: var(--white);
      background: var(--main-color-mid);

      &:hover,
      &:focus-visible {
        color: var(--white);
        background: var(--main-color-op);
      }
    }

    .listPickerWrapper {
      height: 25px;

      .listPickerOptions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }

      &__btnContainer {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        gap: 0.25rem;

        button.listPicker {
          padding: 0.25rem;
          font-size: 12px;
          background-color: var(--main-color-mid);
          height: 25px;
          width: 68px;
          color: var(--white);
          text-transform: capitalize;

          &:hover,
          &:focus-visible,
          &.selected {
            background-color: var(--main-color-op);
          }
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: clamp(0.25rem, 0.25rem + 1vw, 1.5rem);
    background-color: var(--main-section);
    outline: 1px solid var(--main-gray-dark);
    color: var(--main-text);
    transition: background-color 400ms ease-in-out;

    &:only-child {
      min-height: 100% !important;
    }

    &.admin {
      min-height: 100% !important;
    }

    &:not(.site-section__homeCard) {
      @media (max-width: $tablet-breakpoint) {
        flex: 1;
        min-height: max(50% - 0.5rem, 500px);
        max-height: 500px;
        width: 100%;
      }
    }
  }

  &__list {
    flex: 2;
    gap: 0.5rem;
    min-width: 250px;

    .listWrapper {
      flex: 1;
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;

      .sortBtn {
        align-self: end;

        button {
          background: none;
          color: var(--main-text);
          padding: 0.25rem;
          outline: 1px solid transparent;

          svg {
            width: 24px;
            height: 24px;
            min-width: 24px;
            max-width: 24px;
            min-height: 24px;
            max-height: 24px;

            path {
              stroke: var(--main-text);
              stroke-width: 0px;
              transition: stroke-width 200ms ease-in-out;
            }
          }

          &:hover {
            svg {
              path {
                stroke-width: 0.2px;
              }
            }
          }

          &:focus-visible {
            outline: 1px solid var(--main-text);

            svg {
              path {
                stroke-width: 0.4px;
              }
            }
          }
        }
      }

      ul {
        flex: 1;
        width: 100%;

        &.items-list {
          display: grid;
          grid-template-columns: repeat(auto-fit, 180px);
          justify-content: center;
          align-content: start;
          gap: 1rem;

          li {
            display: flex;
            justify-content: center;
            align-items: stretch;
            width: 100%;

            > button {
              width: 100%;
              word-break: break-word;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              box-shadow: -2px 0 0 0 var(--main-color-light),
                -4px 0 0 0 var(--main-color);
            }
          }
        }

        &.tdl-list {
          display: flex;
          justify-content: start;
          align-items: stretch;
          flex-direction: column;
          gap: 1rem;

          li {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 4px;

            &[disabled] {
              pointer-events: none;
              filter: grayscale(1);
            }

            .listPickerWrapper {
              align-self: end;

              &__btnContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
              }

              button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 70px;
                height: 20px;
                padding: 0 0.25rem;
                background-color: var(--main-color-op);
                outline: 2px solid var(--main-color-op);
                text-transform: capitalize;
                font-size: 12px;
                transition: none;
                color: var(--white);

                &:hover,
                &:focus-visible,
                &.selected {
                  background: var(--main-color-mid);
                }
              }
            }

            div.tdl-btnContainer {
              display: flex;
              justify-content: space-between;
              width: 100%;

              .tdl-optionsBtns,
              .tdl-openModal {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: var(--main-color-op);
                width: 140px;
                height: 30px;
                outline: 2px solid var(--main-color-op);

                button {
                  padding: 0.25rem;
                  background: transparent;
                  width: 50%;
                  height: 100%;
                  text-align: center;
                  justify-content: center;
                  white-space: nowrap;

                  &:hover,
                  &:focus-visible {
                    background: var(--main-color-mid);
                    color: var(--white);
                  }
                }

                &.deleteMode {
                  outline: 2px dashed var(--red);
                }

                &.editMode {
                  outline: 2px dashed var(--main-color-op);
                }
              }

              .tdl-openModal {
                width: 85px;
                position: relative;
                overflow: auto;

                &.editPriority {
                  width: 105px;

                  button.selected {
                    background: var(--main-color-mid);
                  }
                }

                button {
                  width: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &.tdl-priority {
                    width: 35px;
                    height: 30px;
                    transition: none;

                    &.selectedLow {
                      color: var(--main-gray-dark);
                    }
                    &.selectedMedium {
                      color: var(--main-color-light);
                    }
                    &.selectedHigh {
                      color: var(--red);
                    }

                    svg {
                      width: 20px;
                      height: 20px;
                      border-radius: 50%;
                      background-color: var(--main-color);
                      outline: 2px solid var(--main-gray);
                      outline-offset: -1px;
                    }
                  }
                }

                .tdl-editPriority {
                  position: absolute;
                  top: 0;
                  right: -100%;
                  background: red;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: auto;
                  z-index: 2;
                }
              }
            }

            button,
            textarea {
              width: 100%;
              height: auto;
              max-height: 120px;
              overflow-x: hidden;
              overflow-y: auto;
              white-space: break-spaces;
              word-break: break-word;
              text-align: left;
              justify-content: start;
              align-items: start;
              transition: 200ms background-color ease-in-out,
                200ms color ease-in-out;
              font-weight: 300;

              &.taskContentBtn {
                padding: 1rem;
                color: var(--white);

                &:hover,
                &:focus-visible {
                  background-color: var(--main-color-mid);
                }

                &.selectedLow {
                  box-shadow: -2px 0 0 0 var(--main-gray-dark),
                    -4px 0 0 0 var(--main-color);
                }
                &.selectedMedium {
                  box-shadow: -2px 0 0 0 var(--main-color-light),
                    -4px 0 0 0 var(--main-color);
                }
                &.selectedHigh {
                  box-shadow: -2px 0 0 0 var(--red),
                    -4px 0 0 0 var(--main-color);
                }
              }

              &.taskOption {
                outline: 2px solid var(--main-color-op);
                min-height: 120px;
                background-color: var(--main-color-mid);
              }

              &.deleteMode {
                outline: 2px dashed var(--red);
              }

              &.editMode {
                outline: 2px dashed var(--main-gray-op);
              }

              /*   display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis; */
            }

            textarea {
              height: 120px;
              padding: 1rem;
              color: var(--white);
            }
          }
        }
      }
    }
  }

  &__chart {
    flex: 3;
    min-width: max(250px, 60%);

    .chartWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 2px solid var(--main-color-mid);
      background: var(--main-color-op);

      .dataChart {
        display: flex;
        justify-content: center;
        align-items: center;

        /* chart */
        & > div:not(.loader) {
          margin-inline: auto;
          max-width: 1200px;
          height: 100%;
          max-height: 100%;
          min-height: 320px;
          text-transform: uppercase;
          padding: 0.125rem;

          svg {
            text {
              font-family: var(--font-primary);
              font-weight: 300;
              font-size: 1rem;
              transition: 200ms ease-in-out;

              &[text-anchor="middle"] {
                fill: var(--main-text);
                font-weight: 400;
                text-transform: capitalize;
              }
            }
          }

          .google-visualization-tooltip {
            pointer-events: none;
          }

          /* chart-error-message */
          span {
            background: var(--main-color-mid) !important;
            color: var(--white) !important;
            font: inherit !important;
            text-align: center;
            text-wrap: balance;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
          }
        }
      }
    }
  }

  &__homeCard {
    position: relative;
    min-width: auto;
    min-height: auto;
    width: 240px;
    min-height: 120px;
    aspect-ratio: 16/9;
    background-color: var(--main-section);
    background-image: linear-gradient(var(--main-color-op) 8%, transparent 8%);
    transition: background-color 400ms ease-in-out,
      outline-color 200ms ease-in-out, box-shadow 200ms ease-in-out;

    &:has(.homeCard-anchor:is(:hover, :focus-visible)) {
      outline: 1px solid var(--main-text);
      box-shadow: 0 0 1rem var(--main-color-op);
    }

    .homeCard-anchor {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      outline: 1px solid var(--main-gray-dark);
      font-size: 1rem;
      padding: clamp(0.25rem, 0.25rem + 1vw, 1.5rem);
      background: transparent;
      text-shadow: 0 0 0 transparent;
      color: var(--main-text);
      transition: color 200ms ease-in-out, background-color 400ms ease-in-out;

      &:hover,
      &:focus-visible {
        h2 {
          text-shadow: 0 0 2px var(--main-text);
        }
        p {
          text-shadow: 0 0 1px var(--main-text);
        }
      }

      h2 {
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        transition: 200ms text-shadow ease-in-out;
      }

      p {
        font-size: 1em;
        font-weight: 400;
        transition: 200ms text-shadow ease-in-out;
      }
    }
  }

  &__private {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;

    button {
      background: none;
      color: inherit;
      padding: 0;
      text-decoration: underline;
      transition: all 200ms ease-in-out, color 0ms;

      &:hover {
        text-shadow: 0 0 4px var(--main-text);
      }
    }
  }
}
