.toaster {
  padding: 0.5rem;
  background-color: var(--main-color-bg);
  color: var(--main-text);
  border: 1px solid var(--main-gray-op-dark);
  font-family: var(--font-primary);
  font-size: 1rem;
  white-space: pre-wrap;
  transition: background-color 400ms ease-in-out, color 200ms ease-in-out;

  div[data-title] {
    font-weight: 700;
  }

  div[data-description] {
    font-weight: 300;
  }
}
