@font-face {
  font-family: geist;
  src: url(../../assets/fonts/GeistVF.woff);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
html ::-webkit-scrollbar-track {
  background: transparent;
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-thumb {
  background: var(--main-color-op);
}
html ::selection {
  color: var(--main-color-light);
  background: var(--main-color);
}

:root {
  --font-primary: geist, monospace, "Courier New", Courier;
  --main-container-size: 1200px;
  --red: rgb(226, 47, 89);
  --black: rgb(10, 10, 10);
  --white: rgb(250, 250, 250);
  --main-gray: rgb(180, 180, 180);
  --main-gray-dark: rgb(100, 100, 100);
  --main-gray-op: rgba(180, 180, 180, 0.8);
  --main-gray-dark-op: rgba(100, 100, 100, 0.8);
  --main-gray-darker-op: rgba(100, 100, 100, 0.4);
  --main-color: rgb(41, 45, 55);
  --main-color-op: rgba(59, 67, 82, 0.5);
  --main-color-bg: rgb(10, 10, 10);
  --main-text: rgb(250, 250, 250);
  --main-section: rgb(15, 15, 15);
  /* color-mix */
  --main-color-dark: color-mix(in srgb, var(--main-color), black 75%);
  --main-color-light: color-mix(in srgb, var(--main-color), white 75%);
  --main-color-mid: color-mix(in srgb, var(--main-color), white 25%);
}

.light-theme {
  --main-color-bg: rgb(250, 250, 250);
  --main-text: rgb(10, 10, 10);
  --main-section: rgb(230, 230, 230);
}

li {
  list-style: none;
}

/* buttons, anchors, inputs -> same styles */
button,
a,
input,
textarea,
select,
option {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  transition: 200ms ease-in-out;
  background: var(--main-color);
  color: var(--white);
  outline-offset: 0;
}
button:hover, button:focus-visible,
a:hover,
a:focus-visible,
input:hover,
input:focus-visible,
textarea:hover,
textarea:focus-visible,
select:hover,
select:focus-visible,
option:hover,
option:focus-visible {
  background: var(--main-color-mid);
}
button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
option:focus-visible {
  outline: 1px solid var(--main-text);
}

/* inputs */
input,
textarea,
select,
option {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: var(--main-color-mid);
  background: var(--main-color-op);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-wrap: balance;
  resize: none;
  font-style: normal;
  font-weight: 300;
}
input::placeholder,
textarea::placeholder,
select::placeholder,
option::placeholder {
  color: var(--main-color-mid);
  font-style: italic;
}
input:hover::placeholder, input:focus::placeholder, input:focus-visible::placeholder,
textarea:hover::placeholder,
textarea:focus::placeholder,
textarea:focus-visible::placeholder,
select:hover::placeholder,
select:focus::placeholder,
select:focus-visible::placeholder,
option:hover::placeholder,
option:focus::placeholder,
option:focus-visible::placeholder {
  color: var(--main-color);
}

option:checked, option:hover {
  color: var(--main-color);
}

select:disabled {
  opacity: 1;
}

.empty-select {
  font-style: italic;
}

/* end inputs */
.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.4;
  color: var(--white);
  background: var(--main-color-bg);
  overflow: hidden;
  transition: background-color 400ms ease-in-out, color 200ms ease-in-out;
}

/* main container */
.mainContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* loader */
.loader {
  color: var(--main-text);
  width: fit-content;
  font: inherit;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  transition: 200ms ease-in-out;
  animation: load-steps 2s linear infinite;
}

@keyframes load-steps {
  to {
    background-size: 100% 3px;
  }
}
.mainHeader {
  background: var(--main-color-bg);
  border-bottom: 1px solid var(--main-gray-dark);
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 56px;
  min-height: 56px;
  max-height: 56px;
  transition: background-color 400ms ease-in-out;
  position: relative;
}
.mainHeader .logo {
  font-weight: 700;
  color: var(--main-text);
  background: none;
  text-shadow: 0 0 0 transparent;
  text-align: start;
  position: relative;
  height: 56px;
}
.mainHeader .logo::before {
  content: "";
  position: absolute;
  left: -58%;
  top: 50%;
  translate: 0 -50%;
  width: 100px;
  height: 4px;
  background-color: var(--main-color-op);
}
.mainHeader .logo:hover, .mainHeader .logo:focus-visible {
  text-shadow: 0 0 2px var(--main-text);
}
.mainHeader__btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.mainHeader__btnContainer .btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeader__btnContainer .btnWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text);
  background: transparent;
  aspect-ratio: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
}
.mainHeader__btnContainer .btnWrapper button.profileOn {
  background: var(--main-color-op);
}
.mainHeader__btnContainer .btnWrapper button img {
  width: 32px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  outline: 1px solid transparent;
}
.mainHeader__btnContainer .btnWrapper button svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  transition: transform 200ms ease-in-out;
  border-radius: 50%;
}
.mainHeader__btnContainer .btnWrapper button:hover, .mainHeader__btnContainer .btnWrapper button:focus-visible {
  background: var(--main-color-op);
}
.mainHeader__btnContainer .btnWrapper .profile-opts {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(100%);
  background: var(--main-color-bg);
  border: 1px solid var(--main-gray-dark);
  transition: 200ms ease-in-out, background-color 400ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1px;
}
.mainHeader__btnContainer .btnWrapper .profile-opts.open {
  transform: translateX(0%);
}
.mainHeader__btnContainer .btnWrapper .profile-opts button {
  width: 100%;
  height: 40px;
  aspect-ratio: auto;
  background-color: transparent;
  border-radius: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  outline: 1px solid transparent;
  display: flex;
  justify-content: start;
  align-items: center;
}
.mainHeader__btnContainer .btnWrapper .profile-opts button svg {
  border-radius: 0;
}
.mainHeader__btnContainer .btnWrapper .profile-opts button svg path {
  stroke: var(--main-text);
  stroke-width: 0px;
  transition: stroke-width 200ms ease-in-out;
}
.mainHeader__btnContainer .btnWrapper .profile-opts button:hover {
  outline: 1px solid var(--main-gray-dark);
}
.mainHeader__btnContainer .btnWrapper .profile-opts button:hover, .mainHeader__btnContainer .btnWrapper .profile-opts button:focus-visible {
  outline: 1px solid var(--main-text);
}
.mainHeader__btnContainer .btnWrapper .profile-opts button:hover svg path, .mainHeader__btnContainer .btnWrapper .profile-opts button:focus-visible svg path {
  stroke-width: 0.4px;
}
.mainHeader .theme-clicked {
  animation: rotate-icon 400ms ease-in-out;
}
@keyframes rotate-icon {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  flex: 1;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
.mainContainer .side-panel {
  width: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color-bg);
  transition: background-color 400ms ease-in-out, width 200ms ease-in-out;
  border-right: 1px solid var(--main-gray-dark);
  z-index: 2;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
@media (max-width: 792px) {
  .mainContainer .side-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
@media (max-height: 493px) {
  .mainContainer .side-panel {
    overflow-y: auto;
  }
}
.mainContainer .side-panel:hover {
  width: 140px;
}
.mainContainer .side-panel:hover a span {
  opacity: 1;
}
.mainContainer .side-panel::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.mainContainer .side-panel.expanded {
  width: 140px;
  position: static;
}
.mainContainer .side-panel .nav-link-disabled {
  pointer-events: none;
  cursor: default;
  filter: grayscale(1);
}
.mainContainer .side-panel__opts {
  margin-block: clamp(0.5rem, 0.5rem + 2vw, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  gap: 1px;
}
.mainContainer .side-panel__opts a {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  background: transparent;
  color: var(--main-text);
  outline: 1px solid transparent;
  transition: color 200ms ease-in-out, font-weight 200ms ease-in-out, outline 200ms ease-in-out;
  position: relative;
}
.mainContainer .side-panel__opts a svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  transition: scale 200ms ease-in-out;
}
.mainContainer .side-panel__opts a svg path {
  stroke: var(--main-text);
  stroke-width: 0px;
  transition: stroke-width 200ms ease-in-out;
}
.mainContainer .side-panel__opts a span {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.mainContainer .side-panel__opts a span.expanded {
  opacity: 1;
}
.mainContainer .side-panel__opts a.active {
  outline: 1px solid var(--main-gray-dark);
  font-weight: 600;
}
.mainContainer .side-panel__opts a.active svg {
  scale: 1.1;
}
.mainContainer .side-panel__opts a.active svg path {
  stroke-width: 0.4px;
}
.mainContainer .side-panel__opts a:hover, .mainContainer .side-panel__opts a:focus-visible {
  outline: 1px solid var(--main-text);
  z-index: 1;
}
.mainContainer .side-panel__opts a:hover svg path, .mainContainer .side-panel__opts a:focus-visible svg path {
  stroke-width: 0.4px;
}
.mainContainer .side-panel button.side-toggle,
.mainContainer .side-panel a.side-toggle {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  background: transparent;
  color: var(--main-text);
  cursor: pointer;
  outline: 1px solid var(--main-gray-dark);
  width: 100%;
}
.mainContainer .side-panel button.side-toggle svg,
.mainContainer .side-panel a.side-toggle svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  transition: transform 200ms ease-in-out;
}
.mainContainer .side-panel button.side-toggle svg path,
.mainContainer .side-panel a.side-toggle svg path {
  stroke: var(--main-text);
  stroke-width: 0px;
  transition: stroke-width 200ms ease-in-out;
}
.mainContainer .side-panel button.side-toggle:hover, .mainContainer .side-panel button.side-toggle:focus-visible,
.mainContainer .side-panel a.side-toggle:hover,
.mainContainer .side-panel a.side-toggle:focus-visible {
  outline: 1px solid var(--main-text);
}
.mainContainer .side-panel button.side-toggle:hover svg path, .mainContainer .side-panel button.side-toggle:focus-visible svg path,
.mainContainer .side-panel a.side-toggle:hover svg path,
.mainContainer .side-panel a.side-toggle:focus-visible svg path {
  stroke-width: 0.4px;
}
.mainContainer .side-panel button.side-toggle.expanded svg,
.mainContainer .side-panel a.side-toggle.expanded svg {
  transform: rotate(-180deg);
}
.mainContainer .main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  background-color: var(--main-color-bg);
  background-image: radial-gradient(var(--main-gray-darker-op) 1px, transparent 1px);
  background-size: 24px 24px;
  background-position: 0% 0%;
  transition: background-color 400ms ease-in-out;
  margin-left: 52px;
}
.mainContainer .main-content.expanded {
  margin-left: 0;
}
@media (max-width: 792px) {
  .mainContainer .main-content {
    justify-content: start;
    overflow-y: auto;
    margin-left: 52px;
  }
}

.site-section {
  flex: 1;
  padding: clamp(0.5rem, 0.5rem + 3vw, 3rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  text-align: center;
  text-wrap: balance;
  gap: 1rem;
  position: relative;
  overflow-y: auto;
}
@media (max-width: 792px) {
  .site-section {
    flex-flow: column nowrap;
    justify-content: start;
  }
}
.site-section::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.site-section:has(.site-section__homeCard) {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 240px 240px;
  place-content: center;
  place-items: center;
  gap: clamp(1rem, 1rem + 4vw, 4rem);
  overflow-y: visible;
}
@media (max-width: 792px) {
  .site-section:has(.site-section__homeCard) {
    grid-template-columns: 240px;
  }
}
.site-section .btnWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.site-section .btnWrapper button {
  color: var(--white);
  background: var(--main-color-mid);
}
.site-section .btnWrapper button:hover, .site-section .btnWrapper button:focus-visible {
  color: var(--white);
  background: var(--main-color-op);
}
.site-section .btnWrapper .listPickerWrapper {
  height: 25px;
}
.site-section .btnWrapper .listPickerWrapper .listPickerOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.site-section .btnWrapper .listPickerWrapper__btnContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 0.25rem;
}
.site-section .btnWrapper .listPickerWrapper__btnContainer button.listPicker {
  padding: 0.25rem;
  font-size: 12px;
  background-color: var(--main-color-mid);
  height: 25px;
  width: 68px;
  color: var(--white);
  text-transform: capitalize;
}
.site-section .btnWrapper .listPickerWrapper__btnContainer button.listPicker:hover, .site-section .btnWrapper .listPickerWrapper__btnContainer button.listPicker:focus-visible, .site-section .btnWrapper .listPickerWrapper__btnContainer button.listPicker.selected {
  background-color: var(--main-color-op);
}
.site-section__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: clamp(0.25rem, 0.25rem + 1vw, 1.5rem);
  background-color: var(--main-section);
  outline: 1px solid var(--main-gray-dark);
  color: var(--main-text);
  transition: background-color 400ms ease-in-out;
}
.site-section__inner:only-child {
  min-height: 100% !important;
}
.site-section__inner.admin {
  min-height: 100% !important;
}
@media (max-width: 792px) {
  .site-section__inner:not(.site-section__homeCard) {
    flex: 1;
    min-height: max(50% - 0.5rem, 500px);
    max-height: 500px;
    width: 100%;
  }
}
.site-section__list {
  flex: 2;
  gap: 2rem;
  min-width: 250px;
}
.site-section__list ul {
  flex: 1;
  width: 100%;
  max-width: 1200px;
}
.site-section__list ul.items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
  align-content: start;
  gap: 1rem;
}
.site-section__list ul.items-list li {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.site-section__list ul.items-list li > button {
  width: 100%;
  word-break: break-word;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: -2px 0 0 0 var(--main-color-light), -4px 0 0 0 var(--main-color);
}
.site-section__list ul.tdl-list {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}
.site-section__list ul.tdl-list li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
.site-section__list ul.tdl-list li[disabled] {
  pointer-events: none;
  filter: grayscale(1);
}
.site-section__list ul.tdl-list li .listPickerWrapper {
  align-self: end;
}
.site-section__list ul.tdl-list li .listPickerWrapper__btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.site-section__list ul.tdl-list li .listPickerWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 20px;
  padding: 0 0.25rem;
  background-color: var(--main-color-op);
  outline: 2px solid var(--main-color-op);
  text-transform: capitalize;
  font-size: 12px;
  transition: none;
  color: var(--white);
}
.site-section__list ul.tdl-list li .listPickerWrapper button:hover, .site-section__list ul.tdl-list li .listPickerWrapper button:focus-visible, .site-section__list ul.tdl-list li .listPickerWrapper button.selected {
  background: var(--main-color-mid);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-optionsBtns,
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--main-color-op);
  width: 140px;
  height: 30px;
  outline: 2px solid var(--main-color-op);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-optionsBtns button,
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button {
  padding: 0.25rem;
  background: transparent;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-optionsBtns button:hover, .site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-optionsBtns button:focus-visible,
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button:hover,
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button:focus-visible {
  background: var(--main-color-mid);
  color: var(--white);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-optionsBtns.deleteMode,
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal.deleteMode {
  outline: 2px dashed var(--red);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-optionsBtns.editMode,
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal.editMode {
  outline: 2px dashed var(--main-color-op);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal {
  width: 85px;
  position: relative;
  overflow: auto;
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal.editPriority {
  width: 105px;
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal.editPriority button.selected {
  background: var(--main-color-mid);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button.tdl-priority {
  width: 35px;
  height: 30px;
  transition: none;
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button.tdl-priority.selectedLow {
  color: var(--main-gray-dark);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button.tdl-priority.selectedMedium {
  color: var(--main-color-light);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button.tdl-priority.selectedHigh {
  color: var(--red);
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal button.tdl-priority svg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  outline: 2px solid var(--main-gray);
  outline-offset: -1px;
}
.site-section__list ul.tdl-list li div.tdl-btnContainer .tdl-openModal .tdl-editPriority {
  position: absolute;
  top: 0;
  right: -100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  z-index: 2;
}
.site-section__list ul.tdl-list li button,
.site-section__list ul.tdl-list li textarea {
  width: 100%;
  height: auto;
  max-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: break-spaces;
  word-break: break-word;
  text-align: left;
  justify-content: start;
  align-items: start;
  transition: 200ms background-color ease-in-out, 200ms color ease-in-out;
  font-weight: 300;
  /*   display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; */
}
.site-section__list ul.tdl-list li button.taskContentBtn,
.site-section__list ul.tdl-list li textarea.taskContentBtn {
  padding: 1rem;
  color: var(--white);
}
.site-section__list ul.tdl-list li button.taskContentBtn:hover, .site-section__list ul.tdl-list li button.taskContentBtn:focus-visible,
.site-section__list ul.tdl-list li textarea.taskContentBtn:hover,
.site-section__list ul.tdl-list li textarea.taskContentBtn:focus-visible {
  background-color: var(--main-color-mid);
}
.site-section__list ul.tdl-list li button.taskContentBtn.selectedLow,
.site-section__list ul.tdl-list li textarea.taskContentBtn.selectedLow {
  box-shadow: -2px 0 0 0 var(--main-gray-dark), -4px 0 0 0 var(--main-color);
}
.site-section__list ul.tdl-list li button.taskContentBtn.selectedMedium,
.site-section__list ul.tdl-list li textarea.taskContentBtn.selectedMedium {
  box-shadow: -2px 0 0 0 var(--main-color-light), -4px 0 0 0 var(--main-color);
}
.site-section__list ul.tdl-list li button.taskContentBtn.selectedHigh,
.site-section__list ul.tdl-list li textarea.taskContentBtn.selectedHigh {
  box-shadow: -2px 0 0 0 var(--red), -4px 0 0 0 var(--main-color);
}
.site-section__list ul.tdl-list li button.taskOption,
.site-section__list ul.tdl-list li textarea.taskOption {
  outline: 2px solid var(--main-color-op);
  min-height: 120px;
  background-color: var(--main-color-mid);
}
.site-section__list ul.tdl-list li button.deleteMode,
.site-section__list ul.tdl-list li textarea.deleteMode {
  outline: 2px dashed var(--red);
}
.site-section__list ul.tdl-list li button.editMode,
.site-section__list ul.tdl-list li textarea.editMode {
  outline: 2px dashed var(--main-gray-op);
}
.site-section__list ul.tdl-list li textarea {
  height: 120px;
  padding: 1rem;
  color: var(--white);
}
.site-section__list ul.tdl-list li textarea::placeholder {
  color: var(--main-color);
}
.site-section__chart {
  flex: 3;
  min-width: max(250px, 60%);
}
.site-section__chart .chartWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid var(--main-color-mid);
  background: var(--main-color-op);
}
.site-section__chart .chartWrapper .dataChart {
  display: flex;
  justify-content: center;
  align-items: center;
  /* chart */
}
.site-section__chart .chartWrapper .dataChart > div:not(.loader) {
  margin-inline: auto;
  max-width: 1200px;
  height: 100%;
  max-height: 100%;
  min-height: 320px;
  text-transform: uppercase;
  padding: 0.125rem;
  /* chart-error-message */
}
.site-section__chart .chartWrapper .dataChart > div:not(.loader) .google-visualization-tooltip {
  pointer-events: none;
}
.site-section__chart .chartWrapper .dataChart > div:not(.loader) span {
  background: var(--main-color-mid) !important;
  color: var(--white) !important;
  font: inherit !important;
  text-align: center;
  text-wrap: balance;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.site-section__homeCard {
  position: relative;
  min-width: auto;
  min-height: auto;
  width: 240px;
  min-height: 120px;
  aspect-ratio: 16/9;
  background-color: var(--main-section);
  background-image: linear-gradient(var(--main-color-op) 8%, transparent 8%);
  transition: background-color 400ms ease-in-out, outline-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.site-section__homeCard:has(.homeCard-anchor:is(:hover, :focus-visible)) {
  outline: 1px solid var(--main-text);
  box-shadow: 0 0 1rem var(--main-color-op);
}
.site-section__homeCard .homeCard-anchor {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--main-gray-dark);
  font-size: 1rem;
  padding: clamp(0.25rem, 0.25rem + 1vw, 1.5rem);
  background: transparent;
  text-shadow: 0 0 0 transparent;
  color: var(--main-text);
  transition: color 200ms ease-in-out, background-color 400ms ease-in-out;
}
.site-section__homeCard .homeCard-anchor:hover h2, .site-section__homeCard .homeCard-anchor:focus-visible h2 {
  text-shadow: 0 0 2px var(--main-text);
}
.site-section__homeCard .homeCard-anchor:hover p, .site-section__homeCard .homeCard-anchor:focus-visible p {
  text-shadow: 0 0 1px var(--main-text);
}
.site-section__homeCard .homeCard-anchor h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  transition: 200ms text-shadow ease-in-out;
}
.site-section__homeCard .homeCard-anchor p {
  font-size: 1em;
  font-weight: 400;
  transition: 200ms text-shadow ease-in-out;
}
.site-section__private {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
}
.site-section__private button {
  background: none;
  color: inherit;
  padding: 0;
  text-decoration: underline;
  transition: all 200ms ease-in-out, color 0ms;
}
.site-section__private button:hover {
  text-shadow: 0 0 4px var(--main-text);
}

/* start modal */
.mainModalWrapper {
  z-index: 9;
  position: fixed;
  margin: auto;
  width: fit-content;
  min-width: 300px;
  height: fit-content;
  outline: none;
  color: rgb(240, 240, 240);
  font-size: 1rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color-mid);
  box-shadow: 0 0 2rem -1rem var(--main-color-dark);
  padding: clamp(0.5rem, 0.5rem + 2vw, 2rem);
  transition: 200ms ease-in-out, outline 0ms, border 0ms;
}
.mainModalWrapper:has(form.editMode) {
  border: 1px dashed var(--main-color-mid);
}
.mainModalWrapper:has(form.deleteMode) {
  border: 1px dashed var(--red);
}
@starting-style {
  .mainModalWrapper {
    scale: 0;
    opacity: 0;
  }
}
.mainModalWrapper.is-dragged {
  transition: 0ms;
}
.mainModalWrapper::backdrop {
  background-color: var(--black);
  opacity: 0.5;
}
@media (max-width: 792px) {
  .mainModalWrapper {
    min-height: 80%;
  }
}

.mainModal {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
}
.mainModal h2 {
  text-align: start;
  text-wrap: balance;
  font-size: 2em;
  color: var(--white);
  width: 100%;
  font-weight: 800;
  position: relative;
}
.mainModal h2::before {
  content: "";
  position: absolute;
  left: -105px;
  top: 50%;
  translate: 0 -50%;
  width: 100px;
  height: 8px;
  background-color: var(--main-color-mid);
}
.mainModal button:focus-visible {
  outline-color: var(--white);
}
.mainModal__titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  position: relative;
}
.mainModal__titleContainer .listPickerWrapper__btnContainer {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 0.25rem;
}
.mainModal__titleContainer .listPickerWrapper__btnContainer .listPickerOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker {
  padding: 0.25rem;
  font-size: 12px;
  background-color: var(--main-color-mid);
  height: 25px;
  width: 68px;
  color: var(--white);
}
.mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker[disabled] {
  pointer-events: none;
  filter: grayscale(1);
}
.mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker.disabled:hover, .mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker.disabled:focus, .mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker.disabled:focus-visible {
  background-color: var(--main-color-mid);
}
.mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker:hover, .mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker:focus-visible, .mainModal__titleContainer .listPickerWrapper__btnContainer button.listPicker.selected {
  background-color: var(--main-color-op);
}
.mainModal__titleContainer .listPickerWrapper__btnContainer.editMode button.listPicker {
  outline: 1px dashed var(--main-color-mid);
}
.mainModal__titleContainer .listPickerWrapper__btnContainer.editMode button.listPicker:hover, .mainModal__titleContainer .listPickerWrapper__btnContainer.editMode button.listPicker:focus-visible, .mainModal__titleContainer .listPickerWrapper__btnContainer.editMode button.listPicker.selected {
  outline: 1px dashed var(--white);
}
.mainModal__titleContainer .listPickerWrapper__btnContainer.deleteMode button.listPicker {
  outline: 1px dashed var(--red);
}
.mainModal__titleContainer .listPickerWrapper__btnContainer.deleteMode button.listPicker:hover, .mainModal__titleContainer .listPickerWrapper__btnContainer.deleteMode button.listPicker:focus-visible {
  outline: 1px dashed var(--red);
}
.mainModal__data {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
.mainModal__data__form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  gap: 0.125rem;
  /* Firefox */
}
.mainModal__data__form[disabled] {
  pointer-events: none;
  filter: grayscale(1);
}
.mainModal__data__form button {
  background: var(--main-color-mid);
  color: var(--white);
  padding: 0.25rem 0.5rem;
}
.mainModal__data__form button:hover, .mainModal__data__form button:focus-visible {
  background: var(--main-color-light);
  color: var(--main-color-mid);
}
.mainModal__data__form .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  width: 100%;
}
.mainModal__data__form fieldset {
  border: 1px solid var(--main-color-op);
  min-width: 150px;
  width: 45%;
  margin-bottom: 1rem;
  transition: 200ms ease-in-out;
  background: var(--main-color-op);
}
.mainModal__data__form fieldset legend {
  margin: 0 8px;
  padding: 0 4px;
  color: var(--white);
  transition: 200ms ease-in-out;
  font-weight: 600;
}
.mainModal__data__form fieldset:has(input:hover,
textarea:hover,
select:hover,
option:hover,
.taskOpenContent:hover) {
  border-color: var(--main-color-mid);
}
.mainModal__data__form fieldset:has(input:hover,
textarea:hover,
select:hover,
option:hover,
.taskOpenContent:hover) legend {
  color: var(--white);
}
.mainModal__data__form fieldset:focus-within {
  border-color: var(--white) !important;
}
.mainModal__data__form fieldset:focus-within legend {
  color: var(--white);
}
.mainModal__data__form fieldset:has(textarea, .taskOpenContent) {
  width: 100%;
}
@media (max-width: 792px) {
  .mainModal__data__form fieldset {
    width: 100%;
  }
}
.mainModal__data__form input,
.mainModal__data__form textarea,
.mainModal__data__form select {
  border: none;
  outline: none;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  color: var(--white);
}
.mainModal__data__form input::-webkit-outer-spin-button,
.mainModal__data__form input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.mainModal__data__form input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.mainModal__data__form.disabled fieldset {
  border: 1px solid var(--main-color-op);
}
.mainModal__data__form.disabled fieldset:hover, .mainModal__data__form.disabled fieldset:focus-visible {
  border: 1px solid var(--main-color-op);
}
.mainModal__data__form.editMode input,
.mainModal__data__form.editMode textarea,
.mainModal__data__form.editMode select {
  outline: 1px dashed var(--main-color-mid);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--white);
}
.mainModal__data__form.editMode input:hover, .mainModal__data__form.editMode input:focus-visible,
.mainModal__data__form.editMode textarea:hover,
.mainModal__data__form.editMode textarea:focus-visible,
.mainModal__data__form.editMode select:hover,
.mainModal__data__form.editMode select:focus-visible {
  outline: 1px dashed var(--white);
}
.mainModal__data__form.editMode .tdl-priority {
  outline: 1px dashed var(--main-color-mid) !important;
}
.mainModal__data__form.editMode .tdl-priority:hover, .mainModal__data__form.editMode .tdl-priority:focus-visible {
  outline: 1px dashed var(--white) !important;
}
.mainModal__data__form.editMode fieldset {
  border: 1px dashed var(--main-color-mid);
}
.mainModal__data__form.editMode fieldset:focus-within, .mainModal__data__form.editMode fieldset:has(input:hover,
textarea:hover,
select:hover,
option:hover,
.taskOpenContent:hover) {
  border: 1px dashed var(--white);
}
.mainModal__data__form.deleteMode input,
.mainModal__data__form.deleteMode textarea,
.mainModal__data__form.deleteMode select {
  outline: 1px dashed var(--red);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.mainModal__data__form.deleteMode .tdl-priority {
  outline: 1px dashed var(--red) !important;
}
.mainModal__data__form.deleteMode fieldset {
  border: 1px dashed var(--red);
}
.mainModal__data__form.deleteMode fieldset:hover, .mainModal__data__form.deleteMode fieldset:focus-visible, .mainModal__data__form.deleteMode fieldset:focus-within, .mainModal__data__form.deleteMode fieldset:has(input:hover,
textarea:hover,
select:hover,
option:hover,
.taskOpenContent:hover) {
  border-style: dashed;
  border-color: var(--red);
}
.mainModal__data__form.taskContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
}
.mainModal__data__form.taskContainer .taskOpenData {
  align-self: start;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.mainModal__data__form.taskContainer .taskOpenData button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;
  text-transform: capitalize;
  background-color: var(--main-color-mid);
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.mainModal__data__form.taskContainer .taskOpenData button.tdl-priority {
  color: var(--white);
}
.mainModal__data__form.taskContainer .taskOpenData button.tdl-priority.selectedLow > svg {
  color: var(--main-gray-dark);
}
.mainModal__data__form.taskContainer .taskOpenData button.tdl-priority.selectedMedium > svg {
  color: var(--main-color-light);
}
.mainModal__data__form.taskContainer .taskOpenData button.tdl-priority.selectedHigh > svg {
  color: var(--red);
}
.mainModal__data__form.taskContainer .taskOpenData button.tdl-priority.selected {
  outline: 1px solid var(--main-color-op);
}
.mainModal__data__form.taskContainer .taskOpenData button.tdl-priority:hover {
  outline-color: var(--main-color-mid);
}
.mainModal__data__form.taskContainer .taskOpenData button.tdl-priority svg {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--main-color);
  outline: 2px solid var(--main-gray);
  outline-offset: -1px;
}
.mainModal__data__form.taskContainer .taskOpenData button:hover {
  background-color: var(--main-color-op);
}
.mainModal__data__form.taskContainer .taskOpenData button:hover[disabled] {
  background-color: var(--main-color-op);
  outline-color: var(--main-color-op);
}
.mainModal__data__form.taskContainer .taskOpenData button:focus-visible {
  background-color: var(--main-color-op);
  outline: 1px solid var(--white);
  outline-color: var(--white) !important;
}
.mainModal__data__form.taskContainer .taskOpenData button.selected {
  background-color: var(--main-color-op);
}
.mainModal__data__form.taskContainer .taskOpenContent {
  color: var(--white);
  font-weight: 300;
  padding: 0.5rem 1rem;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  width: clamp(300px, 40vw, 600px);
  height: auto;
  min-height: 120px;
  max-height: 240px;
  cursor: pointer;
  /* &:empty::before {
    content: "Task... ";
    color: var(--main-gray);
  } */
}
.mainModal__data__form.taskContainer .taskOpenContent:focus-visible {
  outline: none;
}
.mainModal__btnContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.mainModal__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mainModal__close {
  align-self: end;
  background-color: var(--main-color-op);
}

/* end modal */
.toaster {
  padding: 0.5rem;
  background-color: var(--main-color-bg);
  color: var(--main-text);
  border: 1px solid var(--main-gray-dark);
  font-family: var(--font-primary);
  font-size: 1rem;
  white-space: pre-wrap;
  transition: 400ms ease-in-out, color 200ms ease-in-out;
}
.toaster div[data-title] {
  font-weight: 700;
}
.toaster div[data-description] {
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
