*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: monospace, "Courier New", Courier;
  --main-black: rgb(30, 30, 30);
  --main-white: rgb(240, 240, 240);
  --main-gray: rgb(180, 180, 180);
  --main-gray-op: rgba(180, 180, 180, 0.8);
  --main-gray-op-dark: rgba(120, 120, 120, 0.8);
  --main-color: rgb(228, 76, 76);
  --main-color: rgb(10, 10, 10);
  --main-color-dark: var(--main-black);
  --main-color-light: var(--main-white);
  --main-container-size: 1200px;
  --main-color-bg: rgb(30, 30, 30);
  --main-color-side: rgb(50, 50, 50);
}
@supports (background: color-mix(in srgb, white, black)) {
  :root {
    --main-color-dark: color-mix(in srgb, var(--main-color), black);
    --main-color-light: color-mix(in srgb, var(--main-color), white);
  }
}

.light-theme {
  --main-black: rgb(240, 240, 240);
  --main-white: rgb(30, 30, 30);
  --main-color-bg: rgb(200, 200, 200);
  --main-color-side: rgb(120, 120, 120);
}

html ::-webkit-scrollbar-track {
  background: var(--main-gray);
}
html ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  /* border-radius: 12px; */
}
html ::-webkit-scrollbar-thumb {
  background: var(--main-color-dark);
  /* border-radius: 8px; */
}
html ::selection {
  color: var(--main-color-light);
  background: var(--main-color);
}

li {
  list-style: none;
}

button,
a,
input,
textarea,
select,
option {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  color: var(--main-color-light);
  background: var(--main-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  /* border-radius: 0.5em; */
}
button:hover, button:focus-visible,
a:hover,
a:focus-visible,
input:hover,
input:focus-visible,
textarea:hover,
textarea:focus-visible,
select:hover,
select:focus-visible,
option:hover,
option:focus-visible {
  color: var(--main-color);
  background: var(--main-color-light);
}

input,
textarea,
select,
option {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  color: var(--main-color-light);
  background: var(--main-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  resize: none;
  font-style: normal;
}
input::placeholder,
textarea::placeholder,
select::placeholder,
option::placeholder {
  color: var(--main-color-light);
  font-style: italic;
}
input:hover::placeholder, input:focus::placeholder, input:focus-visible::placeholder,
textarea:hover::placeholder,
textarea:focus::placeholder,
textarea:focus-visible::placeholder,
select:hover::placeholder,
select:focus::placeholder,
select:focus-visible::placeholder,
option:hover::placeholder,
option:focus::placeholder,
option:focus-visible::placeholder {
  color: var(--main-color);
}

option:checked, option:hover {
  color: var(--main-color-light);
  background-color: var(--main-black);
}

select:disabled {
  opacity: 1;
}

.empty-select {
  font-style: italic;
}

.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: var(--font-primary);
  line-height: 1.4;
  color: var(--main-white);
  background: var(--main-color-bg);
  overflow: hidden;
}

.mainContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mainHeader {
  background: var(--main-color);
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.mainHeader nav a {
  color: rgb(240, 240, 240);
  font-weight: bold;
}
.mainHeader .themeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeader .themeBtn button {
  color: rgb(240, 240, 240);
}
.mainHeader .themeBtn button svg {
  filter: drop-shadow(0 0 4px rgb(240, 240, 240));
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  flex: 1;
  z-index: 1;
  overflow: hidden;
}
.home .side-panel {
  flex-basis: clamp(80px, 80px + 2vw, 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color-side);
  transition: flex-basis 200ms ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  /* @media(max-width: 938px) {
    display: none;
  } */
}
.home .side-panel__opts {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}
.home .side-panel.expanded {
  flex-basis: clamp(300px, 300px + 2vw, 30%);
}
@media (max-width: 938px) {
  .home .side-panel.expanded {
    flex-basis: clamp(80px, 80px + 2vw, 10%);
  }
}
.home .side-panel button.side-toggle,
.home .side-panel a.side-toggle {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  color: var(--main-color);
  background: var(--main-color-light);
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  border-radius: 0;
}
.home .side-panel button.side-toggle:hover, .home .side-panel button.side-toggle:focus-visible,
.home .side-panel a.side-toggle:hover,
.home .side-panel a.side-toggle:focus-visible {
  color: var(--main-color-light);
  background: var(--main-color);
}
@media (max-width: 938px) {
  .home .side-panel button.side-toggle,
  .home .side-panel a.side-toggle {
    display: none;
  }
}
.home .main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.site-section {
  padding: clamp(0.5rem, 0.5rem + 2vw, 2rem);
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  overflow-x: hidden;
  overflow-y: auto;
}

.users {
  gap: 1rem;
  align-items: start;
}
.users__list {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  background-color: rgba(120, 120, 120, 0.5);
  /* border-radius: 1rem; */
  min-height: 100%;
  padding: clamp(1rem, 1rem + 1vw, 1.5rem);
}
.users__list > button {
  align-self: start;
  color: var(--main-color);
  background: var(--main-color-light);
}
.users__list > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: start;
  place-items: stretch;
  gap: 0.5rem;
  flex: 1;
}
.users__list > ul li {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.users__list > ul li > button {
  width: clamp(100px, 100px + 2vw, 180px);
  word-break: break-all;
}
@media (max-width: 938px) {
  .users__list {
    min-height: auto;
  }
}
.users__chart {
  min-width: max(250px, 60%);
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(120, 120, 120, 0.5);
  /* border-radius: 1rem; */
  min-height: 100%;
  padding: clamp(1rem, 1rem + 1vw, 1.5rem);
  /* chart */
}
.users__chart > div {
  margin: auto;
  text-transform: uppercase;
  /* max-width: fit-content;
  scale: 2; */
  scale: 1.2;
}

/* start modal */
.mainModalWrapper {
  z-index: 9;
  position: fixed;
  margin: auto;
  width: clamp(300px, 100%, 600px);
  min-width: 300px;
  aspect-ratio: 1;
  border: none;
  outline: none;
  color: rgb(240, 240, 240);
  font-size: 1rem;
  background-color: var(--main-color-bg);
  box-shadow: 0 0 2rem -1rem var(--main-color-dark);
  border: 4px solid var(--main-color);
  padding: clamp(0.5rem, 0.5rem + 2vw, 1rem);
  /* border-radius: 1rem; */
}
.mainModalWrapper::-webkit-scrollbar-track {
  background: var(--main-color);
}
.mainModalWrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* border-radius: 8px; */
}
.mainModalWrapper::backdrop {
  background-color: dimgray;
  opacity: 0.5;
}
@media (max-width: 938px) {
  .mainModalWrapper {
    min-height: 80%;
  }
}

.mainModal {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--main-white);
}
.mainModal__data {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.mainModal__data h2 {
  text-align: center;
  text-wrap: balance;
  font-size: 2em;
  color: var(--main-black);
  background: var(--main-color-light);
  width: 100%;
  font-weight: bold;
  margin-bottom: 1rem;
}
.mainModal__data > p {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid var(--main-gray-op-dark);
}
.mainModal__data__form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  /* Firefox */
}
.mainModal__data__form .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  width: 100%;
}
.mainModal__data__form fieldset {
  border: 1px solid var(--main-color);
  background: none;
  width: clamp(150px, 100%, 200px);
  margin-bottom: 0.5rem;
}
.mainModal__data__form fieldset legend {
  margin: 0 8px;
  padding: 0 4px;
  color: var(--main-white);
}
.mainModal__data__form fieldset:hover, .mainModal__data__form fieldset:focus, .mainModal__data__form fieldset:focus-within {
  border: 1px solid var(--main-color-light);
}
.mainModal__data__form fieldset:has(textarea) {
  width: 100%;
}
.mainModal__data__form input,
.mainModal__data__form textarea,
.mainModal__data__form select {
  border: none;
  outline: none;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.mainModal__data__form input::-webkit-outer-spin-button,
.mainModal__data__form input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.mainModal__data__form input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.mainModal__data__form.editMode input,
.mainModal__data__form.editMode textarea,
.mainModal__data__form.editMode select {
  outline: 1px dashed var(--main-color-light);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.mainModal__btnContainer, .mainModal__btnContainer--edit {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.mainModal__btnContainer--edit {
  justify-content: space-between;
}
.mainModal__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mainModal__delete {
  background-color: var(--main-color-dark);
}
.mainModal__send, .mainModal__close {
  align-self: end;
}

/* end modal */

/*# sourceMappingURL=styles.css.map */
